body{
    font-family:'Samsung One'; 
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 0px;
}

.mainheader{
    background-color: #987FFF;
    color:#FFFFFF;
    padding: 2em;
}

footer{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

.container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.inputItem{
    margin: 2em;
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 250px;
}