body{
    font-family:'Samsung One'; 
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 0px;
}

a:link, a:active, a:visited{
    color:#987FFF;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

.mainheader{
    background-color: #3D3D3D;
    color:#FFFFFF;
    padding: 2em;
    box-shadow: 0px 5px 5px 1px silver; 
    overflow: hidden; 
    position: relative;

}

footer{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

#mainNavigation{
    background-color: #B5A5FE;
    min-height: .5em;
}

#popup{
    position: fixed;
    top:5em;
    width: 60%;
    height: 70%;
    left:17.5%;
    padding:1em;
    background-color: rgba(255, 255, 255, .95);
    border: 1px silver;
    box-shadow: 0px 5px 5px 1px silver;
    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: top center;
}

.container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.anchor{
    color:black;
}

.inputItem{
    margin: 2em;
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 400px;
}

.browsericon{
    width: 24px;
    height: 24px;
    margin: 5px;
}

.ns{
    background-color: #A4A4A4;
}

.o{
    background-color: #FF0000;
}

.e{
    background-color: #0078D4;
}

.c{
    background-color: #FFCE43;
}

.ff{
    background-color: #FF7D00;
}

.s{
    background-color: #05C2E6;
}

.sb{
    background-color: #987FFF;
}

.browserbadge{
    border-radius: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
}

.supportbar{
    margin: 10px 1px 1px 1px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

.closeBtn{
    position: absolute;
    top:1em;
    right: 1em;
}

.footerLogo{
    margin: auto;
    width: 15em;
    display: block;
}

.headerbg{
    animation-name: headerbg;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    position: absolute;
    top:-2em;
    right: 0em;
    overflow: hidden;
}

@keyframes headerbg{
    from{transform: rotate(0turn);}
    to{transform: rotate(-1turn);}
}

@keyframes minimize{
    from{
        transform: rotate3d(1, 0, 0, 0deg);
        }
    to{
        transform: rotate3d(1, 0, 0, 90deg);
        }
    
}

@keyframes maximize{
    from{
        transform: rotate3d(1, 0, 0, 90deg);
    }
    to{
        transform: rotate3d(1, 0, 0, 0deg);
    }
}

@media (max-width: 600px){
    #popup{
        position: fixed;
        top:0px;
        left:0px;
        height: 100%;
        width: 100%;
        padding-left: 1em;
        padding-right: 0px;
        background-color: rgba(255, 255, 255, .95);
        border: 1px silver;
        box-shadow: 0px 5px 5px 1px silver;
        animation-name: none;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform: rotate3d(1, 0, 0, 90deg);
        transform-origin: top center;
    }

    .closeBtn{
        position: absolute;
        top:1em;
        right: 1em;
    }
}